{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "ignorePatterns": ["dist", ".eslintrc", ".prettierrc"],
  "parser": "@typescript-eslint/parser",
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier" // 반드시 마지막에 위치해서 다른 설정을 덮어쓰도록 해야 함 (prettier와 충돌하는 ESLint 규칙을 끄는 설정)
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
